@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1182px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 0px 0px;
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;
}
@media (max-width: 767.98px) {
	.form__info {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed !important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.show {
	display: block;
}
.popup.show .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-table {
	height: 100%;
	table-layout: fixed;
}
.popup-table > .cell {
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup-content {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	max-width: 1230px;
	margin: 0px auto;
	background-color: #fff;
}

.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
	width: 40px;
	height: 40px;
	background-color: #000;
	top: 0;
	right: 0;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.header {
	background: #EEEFF1;
}

.header-top {
	max-width: 1105px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	z-index: 9;
}

.header-top-logo {
	padding-top: 57px;
}
@media (max-width: 767.98px) {
	.header-top-logo {
		padding-top: 40px;
	}
}
.header-top-logo_item {
	position: relative;
	z-index: 11;
}
@media (max-width: 767.98px) {
	.header-top-logo_item {
		padding-left: 35px;
	}
}

.header-top-nav {
	padding-top: 79px;
}

.header-top-nav-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 767.98px) {
	.header-top-nav-menu {
		display: block;
		text-align: right;
		margin-top: 80px;
		margin-right: 35px;
		z-index: 14;
	}
}
.header-top-nav-menu__link a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em;
	margin-left: 42px;
}
.header-top-nav-menu__link a:visited {
	color: #000000;
}
.header-top-nav-menu__link a:hover {
	color: #34547A;
}
.header-top-nav-menu__link a.active-menu {
	color: #34547A;
}

.header-body {
	-ms-flex-preferred-size: 1105px;
	    flex-basis: 1105px;
	margin: 0 auto;
}

.header-body-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 117px;
}

.header-body-item {
	margin-top: 183px;
	margin-left: 0px;
	width: 100%;
}
@media (max-width: 991.98px) {
	.header-body-item {
		margin-right: 20px;
	}
}
@media (max-width: 767.98px) {
	.header-body-item {
		margin-right: 0px;
		margin-top: 70px;
	}
}
.header-body-item__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
@media (max-width: 991.98px) {
	.header-body-item__img img {
		width: 320px;
		height: auto;
		padding-top: 25px;
	}
}
@media (max-width: 767.98px) {
	.header-body-item__img img {
		width: 280px;
		height: auto;
	}
}

.header-body-info {
	font-style: normal;
	font-weight: normal;
	font-family: Roboto;
	margin-top: 152px;
	width: 100%;
}
@media (max-width: 991.98px) {
	.header-body-info {
		margin-left: 20px;
	}
}
@media (max-width: 767.98px) {
	.header-body-info {
		margin-left: 0px;
		margin-top: 40px;
	}
}
.header-body-info__title {
	font-weight: 500;
	font-size: 48px;
	line-height: 79px;
	color: #000000;
}
@media (max-width: 991.98px) {
	.header-body-info__title {
		font-size: 39px;
	}
}
@media (max-width: 767.98px) {
	.header-body-info__title {
		font-size: 30px;
	}
}
.header-body-info__text {
	font-size: 16px;
	line-height: 26px;
	color: #727272;
	margin-top: 60px;
	width: 90%;
	margin-bottom: 60px;
}
@media (max-width: 991.98px) {
	.header-body-info__text {
		margin-top: 5px;
		margin-bottom: 20px;
	}
}
@media (max-width: 767.98px) {
	.header-body-info__text {
		margin-top: 5px;
	}
}
.header-body-info__button__submit {
	background: #34547A;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 20px 44px;
	font-family: Roboto;
	/* эффект перехода для Firefox до версии 16.0 */
	-webkit-transition: all 0.5s ease-in-out;
	/* эффект перехода для Chrome до версии 26.0, Safari, Android и iOS */
	-o-transition: all 0.5s ease-in-out;
	/* эффект перехода для Opera до версии 12.10 */
	transition: all 0.5s ease-in-out;
	/* эффект перехода для других браузеров */
}
.header-body-info__button__submit:hover {
	color: #34547A;
	background-color: #FFFFFF;
	font-weight: 700;
	font-size: 16px;
	border: 3px solid #34547A;
}

@media (max-width: 767.98px) {
	.header-top-nav-menu {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		left: 120%;
		right: 0;
		background-color: #EEEFF1;
		font-size: 50px;
		-webkit-transition: all 0.8s ease 0s;
		-o-transition: all 0.8s ease 0s;
		transition: all 0.8s ease 0s;
	}
	.header-top-nav-menu.active {
		left: 0;
		padding: 20px 35px 0px 0px;
	}
}

.header-menu__icon {
	display: none;
}

@media (max-width: 767.98px) {
	.header-menu__icon {
		display: block;
		position: absolute;
		top: 50px;
		right: 35px;
		width: 35px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.header-menu__icon span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	.header-menu__icon span:first-child {
		top: 0px;
	}
	.header-menu__icon span:last-child {
		top: auto;
		bottom: 0px;
	}
	.header-menu__icon.active span {
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.header-menu__icon.active span:first-child {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}
	.header-menu__icon.active span:last-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: 8px;
	}
}
footer {
	background-color: #34547A;
}

.footer-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer-row-columns {
	font-family: Roboto;
	color: #FFFFFF;
}
.footer-row-columns__copyright {
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
}
.footer-row-columns__name {
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
	margin-bottom: 20px;
}
.footer-row-columns__name:hover {
	text-decoration: underline;
}
.footer-row-columns__name a:visited {
	color: #FFFFFF;
}

.footer-row-social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.footer-row-social-list__link {
	max-width: 43px;
	max-height: 22px;
	margin-left: 21px;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.content-aboutme {
	font-family: Roboto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.content-aboutme__title {
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	color: #000000;
	padding-top: 148px;
	margin-bottom: 50px;
}
.content-aboutme__text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	width: 40%;
	color: #727272;
	text-align: center;
	padding-bottom: 100px;
}

.content-wrapper2 {
	background: #34547A;
}

.content-myproject {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 9px;
}

.content-myproject-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	padding: 100px 0 100px 0px;
}
@media (max-width: 991.98px) {
	.content-myproject-list {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}
.content-myproject-list__link {
	margin-right: 25px;
	margin-left: 25px;
}
@media (max-width: 991.98px) {
	.content-myproject-list__link {
		padding: 25px 0px;
	}
}
.items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}

.items-img {
	margin-right: 20px;
}

.items-body {
	font-family: Roboto;
	font-style: normal;
	color: #FFFFFF;
}
.items-body__title {
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
}
.items-body__subtitle {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}
.items-body__nomargin {
	font-family: Roboto;
	font-style: normal;
	color: #FFFFFF;
}

.content-i {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	padding-top: 100px;
}

.content-i-skills {
	font-family: Roboto;
	font-style: normal;
	width: 50%;
	padding-top: 102px;
	padding-bottom: 101px;
}
.content-i-skills__title {
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	color: #000000;
	margin-bottom: 50px;
}
.content-i-skills__level__name {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
	margin-bottom: 19.9px;
}
.content-i-skills__level__value img {
	max-width: 445px;
	max-height: 4, 36px;
	margin-bottom: 29px;
}

.content-i-photo {
	width: 50%;
}
.content-i-photo img {
	max-height: 450px;
	max-width: 555px;
}

.content-how {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 100px;
}

.content-how-info {
	font-family: Roboto;
	font-style: normal;
	width: 50%;
	margin-bottom: 50px;
}
.content-how-info__title {
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}
.content-how-info__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
	text-align: center;
}

.content-how-video video {
	min-width: 1110px;
	min-height: 600px;
}

.content-wrapper5 .content-gallery {
	max-width: 1920px;
	max-height: 960px;
}

.content-gallery-list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (480px)[4];
	grid-template-columns: repeat(4, 480px);
	-ms-grid-rows: (480px)[2];
	grid-template-rows: repeat(2, 480px);
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.content-gallery-list > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.content-gallery-list > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

.content-gallery-list > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.content-gallery-list > *:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 4;
}

.content-gallery-list > *:nth-child(5) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.content-gallery-list > *:nth-child(6) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

.content-gallery-list > *:nth-child(7) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}

.content-gallery-list > *:nth-child(8) {
	-ms-grid-row: 2;
	-ms-grid-column: 4;
}
.content-gallery-list__link a img {
	max-width: 100%;
	max-height: auto;
	/* эффект перехода для Firefox до версии 16.0 */
	-webkit-transition: all 0.5s ease-in-out;
	/* эффект перехода для Chrome до версии 26.0, Safari, Android и iOS */
	-o-transition: all 0.5s ease-in-out;
	/* эффект перехода для Opera до версии 12.10 */
	transition: all 0.5s ease-in-out;
	/* эффект перехода для других браузеров */
}
.content-gallery-list__link a img:hover {
	-webkit-filter: alpha Opacity 70;
	        filter: alpha Opacity 70;
	opacity: 0.5;
}

.content-clients-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 72px 0px 100px 0px;
}
.content-wrapper7 {
	background-color: #EEEFF1;
}

.content-want {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.content-want-about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-family: Roboto;
	font-style: normal;
	padding-top: 100px;
	max-width: 540px;
	margin-bottom: 65px;
}
.content-want-about__title {
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 80px;
}
.content-want-about__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #727272;
}

.content-want-form-id {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	font-size: 14px;
	margin-bottom: 20px;
	max-width: 540px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.content-want-form-id__name input {
	width: 255px;
	height: 50px;
	background-color: #FFFFFF;
	font-size: 14px;
	line-height: 23px;
	color: #5F5D5D;
	padding-left: 20px;
}
.content-want-form-id__email input {
	width: 255px;
	height: 50px;
	background-color: #FFFFFF;
	font-size: 14px;
	line-height: 23px;
	color: #5F5D5D;
	padding-left: 20px;
}

.content-want-form-sms input {
	width: 540px;
	height: 175px;
	background-color: #FFFFFF;
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 23px;
	color: #5F5D5D;
	padding-left: 24px;
	padding-bottom: 140px;
}

.content-want-form-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin-bottom: 20px;
	max-width: 540px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-bottom: 101px;
}
.content-want-form-button__submit {
	background: #34547A;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 20px 44px;
	font-family: Roboto;
	/* эффект перехода для Firefox до версии 16.0 */
	-webkit-transition: all 0.5s ease-in-out;
	/* эффект перехода для Chrome до версии 26.0, Safari, Android и iOS */
	-o-transition: all 0.5s ease-in-out;
	/* эффект перехода для Opera до версии 12.10 */
	transition: all 0.5s ease-in-out;
	/* эффект перехода для других браузеров */
}
.content-want-form-button__submit:hover {
	color: #34547A;
	background-color: #FFFFFF;
	font-weight: 700;
	font-size: 16px;
	border: 3px solid #34547A;
}